#app {
	font-family: var(--ff_Spartan);

	& .introduction {

		& .introduction__navAndImages {

			& .introduction__navAndImages__navBar {
				display: flex;
				position: absolute;
				z-index: 1;
				

				& .introduction__navAndImages__navBar__logo {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					position: relative;
					top: 5vw;
					left: 5vw;

					& .MENU {
						object-fit: contain;
						z-index: 2;
						width: 5vw;
						max-width: 150px;

					}

					& .LOGO {
						object-fit: contain;
						margin-left: 30vw;
						width: 15vw;
						max-width: 100px;
						color:black;

					}
				}

				& .introduction__navAndImages__navBar__list {
					background-color: white;
					display: flex;
					opacity: 0;
					pointer-events: none;
					justify-content: flex-end;
					gap: 40px;
					position: absolute;
					padding: 5vw;
					width: 100vw;
					margin-top: 0px;
					& a{
						text-decoration: none;
						font-size: clamp(16px, 3vw, 20px);
						font-family: inherit;
						font-weight: 500;
						color: var(--clr_Black);

					}
					& a:hover {
						text-decoration: underline;

					}
				}
			}

			& .introduction__navAndImages__SlidesImgaes {
				--transition-value-firstSlide:0%;
				--transition-value-secondeSlide:0%;
				

				& .introduction__navAndImages__SlidesImgaes__container {
					position: relative;
					background-color: black;

					& .introduction__navAndImages__SlidesImgaes__container__slide1 {
						background-color: green;
						position: absolute;
						width: 100%;
						height: 75vw;
						/* min-width: 650px; */
						& img{
							width: 100%;
							height: 100%;
						}
						transition: all 1s ease-in-out;

						transform: translateX(var(--transition-value-firstSlide));

					}

					& .introduction__navAndImages__SlidesImgaes__container__slide2 {
						background-color: blue;
						position: absolute;
						width: 100%;
						height: 75vw;
						/* min-width: 650px; */
						& img{
							width: 100%;
							height: 100%;
						}
						transition: all 1s ease-in-out;
						transform: translateX(var(--transition-value-secondeSlide));

					}

					& .introduction__navAndImages__SlidesImgaes__container__slide3 {
						background-color: pink;
						height: 75vw;
						/* min-width: 650px; */
						& img{
							width: 100%;
							height: 100%;
						}

					}


				}

				& .introduction__navAndImages__SlidesImgaes__changeImageComponents {
					/* background-color: black; */
					z-index: 1;
					position: absolute;
					bottom: 0;
					right: 0;
					display: flex;
					/* gap: 35px; */
					/* padding: 1.5vw 3.3vw; */

					& .leftButton{
						background-color: black;
						height:150%;
						width: 50%;
						padding: 1.5vw 3vw;
					}
					& .rightButton{
						background-color: black;
						height:150%;
						width: 50%;
						padding: 1.5vw 3vw;
					}
					& .leftButton:hover{
						cursor: pointer;
						filter: contrast(0.7);

					}
					& .rightButton:hover{
						cursor: pointer;
						filter: contrast(0.7);

					}
					& .leftButton:active{
						transform: scale(0.9);

					}
					& .rightButton:active{
						transform: scale(0.9);

					}
				}
			}

		}

		& .introduction__description {
			margin: 13vw;
			& h1{
				font-size: clamp(30px, 3vw, 47px);
				margin-bottom: 1vw;

			}
			& p{
				font-size: clamp(16px, 3vw, 29px);

			}
			& .introduction__description__shopNowButton{
				/* background-color: red; */
				display: flex;
				margin-top: 30px;
				margin-bottom: 50px;
				gap: 30px;
				font-size: clamp(16px, 3vw, 20px);
				flex-wrap: wrap;
				& img{
					/* background-color: yellow; */
					object-fit: contain;
					width: 14vw;
					max-width: 70px;
					/* transform: translateX(100px); */
					/* animation: moveOut 6s linear infinite both; */
					
				}
				& button{
					letter-spacing: 10px;
					background-color: transparent;
					outline: none;
					border: none;
					font-weight:500;
				}
				& button:hover{
					cursor: pointer;
					text-decoration: underline;
				}
				& button:hover +img{
					animation: moveOut 6s linear infinite both;

				}
			}


		}
	}
}

.about__description {
	margin: 13vw;
	font-size: clamp(15px, 3vw, 30px);
	& h3{
		/* background-color:red; */
		letter-spacing: 5px;
		margin-bottom: 1vw;
	}
}

.about  img{
	width: 100%;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes moveOut {
	
	50% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0px);
	}
}

ShowME{
	opacity: 1;
}