#app {
	font-family: var(--ff_Spartan);

	& .introduction {

		/* background-color: red; */
		& .introduction__navAndImages {

			/* background-color: pink; */
			& .introduction__navAndImages__navBar {
				/* background-color: gray; */
				display: flex;
				position: absolute;
				z-index: 1;

				& .introduction__navAndImages__navBar__logo {
					/* background-color:green; */
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					position: relative;
					top: 5vw;
					left: 5vw;

					& .MENU {
						object-fit: contain;
						z-index: 2;
						width: 5vw;

					}

					& .LOGO {
						object-fit: contain;
						margin-left: 30vw;
						width: 15vw;

					}
				}

				& .introduction__navAndImages__navBar__list {
					background-color: red;
					/* NOTE :change display here and cange padding and create aimation */
					display: flex;
					justify-content: flex-end;

					gap: 40px;
					position: absolute;
					padding: 5vw;
					width: 100vw;
					margin-top: 0px;
					& a{
						text-decoration: none;
						font-size: clamp(16px, 3vw, 30px);
						font-family: inherit;
						font-weight: bold;
						color: var(--clr_Black);

					}
				}
			}

			& .introduction__navAndImages__SlidesImgaes {
				background-color: blue;

				& .introduction__navAndImages__SlidesImgaes__container {
					position: relative;
					background-color: black;

					& .introduction__navAndImages__SlidesImgaes__container__slide1 {
						background-color: green;
						position: absolute;
						width: 100%;
						height: 75vw;
						min-width: 650px;
						& img{
							width: 100%;
							height: 100%;
						}

						/* transform: translateX(-60%); */

					}

					& .introduction__navAndImages__SlidesImgaes__container__slide2 {
						background-color: blue;
						position: absolute;
						width: 100%;
						height: 75vw;
						min-width: 650px;
						& img{
							width: 100%;
							height: 100%;
						}
						/* transform: translateX(-30%); */

					}

					& .introduction__navAndImages__SlidesImgaes__container__slide3 {
						background-color: pink;
						height: 75vw;
						min-width: 650px;
						& img{
							width: 100%;
							height: 100%;
						}

					}


				}

				& .introduction__navAndImages__SlidesImgaes__changeImageComponents {
					background-color: black;
					z-index: 1;
					position: absolute;
					bottom: 0;
					right: 0;
					display: flex;
					gap: 25px;
					padding: 15px 25px;
				}
			}

		}

		& .introduction__description {
			margin: 13vw;
			& h1{
				font-size: clamp(30px, 3vw, 72px);

			}
			& p{
				font-size: clamp(16px, 3vw, 30px);

			}


		}
	}
}

.about__description {
	margin: 13vw;
	font-size: clamp(16px, 3vw, 30px);
}

.about  img{
	width: 100%;
}